# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl

# Credenciais e segredos
*.pem
*.pfx
credentials.json
*.env

# Sistema operacional / editores
.DS_Store
.vscode/
.idea/
